<h2 mat-dialog-title>{{ data.buttonName }}</h2>
<mat-dialog-content>
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar Rack">
    <button (click)="searchRack()" class="stylized-button">Buscar</button>
  </div>
  <div *ngIf="reports.length > 0">
    <table style="width: 100%;">
      <tr>
        <th>Rack</th>
        <th>Ubicación</th>
        <th>Embarque</th>
        <th>Urgencia</th>
        <th>Motor</th>

      </tr>
      <tr *ngFor="let report of reports">
        <td>{{ report.rackNumber }}</td>
        <td>{{ report.locationNumber }}</td>
        <td>{{ report.shipmentDate | date }}</td>
        <td><span [ngClass]="getShipmentClass(report.shipmentDate)"></span></td>
        <td><span *ngFor="let motor of report.engineNumber">{{motor}}<br></span></td>
        
      </tr>
    </table>
  </div>
  <div *ngIf="reports.length === 0 && searchQuery">
    <p>No se encontró ningún rack con ese número.</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cerrar</button>
</mat-dialog-actions>
