<div>
  <!--<button (click)="searchReports()" class="stylized-button">Buscar Reportes</button> -->
  <table style="width: 100%;">
    <tr>
      <th>Rack</th>
      <th>Ubicación</th>
      <th>Embarque</th>
      <th></th>
      <th>Motor</th>
      
    </tr>
    <tr *ngFor="let report of reports">
      <td>{{report.rackNumber}}</td>
      <td>{{report.locationNumber}}</td>
      <td>{{report.shipmentDate | date}}</td>
      <span [ngClass]="getShipmentClass(report.shipmentDate)"></span>
      <td><span *ngFor="let motor of report.engineNumber">{{motor}}<br></span></td>
    </tr>
  </table>
  
</div>
