<form (ngSubmit)="onSubmit()" #reportForm="ngForm">
    <div>
      <label for="engineNumber">Número de Motor</label>
      <input type="text" id="engineNumber" [(ngModel)]="report.engineNumber" name="engineNumber" required>
    </div>
    <div>
      <label for="rackNumber">Número de Rack</label>
      <input type="text" id="rackNumber" [(ngModel)]="report.rackNumber" name="rackNumber" required>
    </div>
    <div>
      <label for="locationNumber">Número de Ubicación</label>
      <input type="text" id="locationNumber" [(ngModel)]="report.locationNumber" name="locationNumber" required>
    </div>
    <div>
      <label for="shipmentDate">Fecha de Embarque</label>
      <input type="date" id="shipmentDate" [(ngModel)]="report.shipmentDate" name="shipmentDate" required>
    </div>
    <button type="submit">Crear Reporte</button>
  </form>
  