/* Estilos para centrar el contenedor */
  
  /* Estilos para la cuadrícula de botones */
  .button-grid {
    display: table-column;
    grid-template-columns: repeat(3, auto); /* 3 columnas */
    gap: 50px; /* Espacio entre botones */
  }

  .centered {
    display: flex;
    justify-content: center;
  }

  .subcontainer {
    border: solid 1px #000;
    border-radius: 12px;
    background-image: linear-gradient(rgba(255, 255, 255, .40),rgba(255, 255, 255, .40));
    padding: 2em;
  }

  .vwindow {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    /*align-items: center;*/
  }
  
  .red::after {
    content: ' ';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .yellow::after {
    content: ' ';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(253, 217, 13);
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .green::after {
    content: ' ';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-left: 10px;
  }
