/* Estilos para centrar el contenedor */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura de la pantalla completa */
  }
  
  /* Estilos para la cuadrícula de botones */
  .button-grid {
    display: grid;
    grid-template-columns: repeat(3, auto); /* 3 columnas */
    gap: 50px; /* Espacio entre botones */
  }

  .centered {
    display: flex;
    justify-content: center;
  }

  .subcontainer {
    border: solid 1px #000;
    border-radius: 12px;
    background-color: white;
    padding: 2em;
  }
  