<div class="container">
  <div class="button-grid">
    <app-stylized-button ubicacion_id="A" buttonName="Rack A" action="view"></app-stylized-button>
    <app-stylized-button ubicacion_id="B" buttonName="Rack B" action="view"></app-stylized-button>
    <app-stylized-button ubicacion_id="C" buttonName="Rack C" action="view"></app-stylized-button>
    <app-stylized-button ubicacion_id="D" buttonName="Rack D" action="view"></app-stylized-button>
    <app-stylized-button ubicacion_id="E" buttonName="Rack E" action="view"></app-stylized-button>
    <app-stylized-button ubicacion_id="F" buttonName="Rack F" action="view"></app-stylized-button>
    <app-stylized-button ubicacion_id="" buttonName="Crear Reporte" action="create"></app-stylized-button>
  </div>
</div>
