<div class="container">
  <div class="button-grid">
    <app-stylized-button engineNumber="1234" rackNumber="A1" buttonName="Rack A"></app-stylized-button>
    <app-stylized-button engineNumber="5678" rackNumber="B2" buttonName="Rack B"></app-stylized-button>
    <app-stylized-button engineNumber="9101" rackNumber="C3" buttonName="Rack C"></app-stylized-button>
    <app-stylized-button engineNumber="5678" rackNumber="D4" buttonName="Rack D"></app-stylized-button>
    <app-stylized-button engineNumber="6789" rackNumber="E5" buttonName="Rack E"></app-stylized-button>
    <app-stylized-button engineNumber="7890" rackNumber="F6" buttonName="Rack F"></app-stylized-button>
  </div>
</div>
